@import 'sass-rem';
@import 'assets/variables';

%generic-btn {
  background-color: map-get($grey, 100);
  width: rem(78px);
  height: rem(28px);
  border: rem(1px) solid map-get($palette, primary);
  border-radius: rem(4px);
  font-size: rem(14px);
  font-weight: 600;
  box-shadow: 0 rem(2px) rem(9px) 0 rgba(0, 0, 0, 0.03);
  cursor: pointer;
  color: map-get($palette, primary);
  letter-spacing: 0.03rem;
  outline: none;

  img {
    margin-left: rem(8px);
  }
}

.inline {
  position: relative;

  &::before {
    top: 50%;
  }
}

.button {
  &.small {
    @extend %generic-btn;
  }

  &.back {
    background-color: map-get($grey, 2000);
    width: 2rem;
    height: 2rem;
    border: hidden;
    outline: none;
  }

  &.disabled {
    width: 7.625rem;
    height: 2.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: not-allowed;
    opacity: 0.8;
  }

  &.regular {
    @extend %generic-btn;
    width: 100%;
    height: rem(40px);
    max-height: rem(40px);
    padding: rem(5px) rem(20px);

    img {
      margin: 0;
    }

    &--bold {
      font-weight: 700;
    }

    &--light {
      font-weight: 300;
    }

    &.blue,
    &.active {
      background-color: map-get($palette, primary);
      color: map-get($grey, 100);
    }
  }

  &.yellow {
    @extend %generic-btn;
    background-color: map-get($grey, 100);
    width: rem(108px);
    height: 2.5rem;
    border: rem(1px) solid map-get($palette, secondary);
    border-radius: rem(2px);
    font-weight: 500;
    color: map-get($palette, secondary);

    &.active {
      background-color: map-get($palette, secondary);
      color: map-get($grey, 100);
    }
  }

  &.load-more-button {
    @extend %generic-btn;
    width: rem(118px);
    height: rem(42);
    box-sizing: border-box;
    border: rem(1px) solid map-get($grey, 900);
    border-radius: rem(2px);
  }

  &.analytics-filter-button {
    display: flex;
    justify-content: space-between;
    background-color: map-get($grey, 100);
    width: rem(161px);
    height: rem(41px);
    padding: 0 rem(15px);
    box-sizing: border-box;
    border: rem(1px) solid map-get($grey, 900);
    border-radius: rem(4px);
    font-size: rem(16px);
    font-weight: 300;
    box-shadow: none;
    color: map-get($palette, settings-menu);
  }
}
