@import 'sass-rem';
@import 'assets/variables';

.header {
  width: 100%;
  height: rem(64px);
  padding-top: rem(15px);
  padding-left: rem(20px);

  &__logo {
    color: map-get($palette, primary);
  }
}
